# Environment & secrets
.env

# Database
*.db
*.sqlite

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/
.venv/

# Uploads (file PDF tidak perlu di-commit)
uploads/*
!uploads/.gitkeep

# OS
.DS_Store
Thumbs.db
